@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}
navbar {
    background: #fc4a1a;
    padding: .8rem;
}
.navbar-nav li {
    padding-right: 20px; 
}
.nav-link {
    font-size: 1.1em !important;
    color: #222;
}
.nav-link:hover {
    font-size: 1.1em !important;
    color: #fc4a1a;
}
.carousel-inner img {
    padding-top: 100px;
    height: 100%;
    width: 100%; 
}
.align {
    text-align: justify;
}
.respon {
    width: 100%; 
}
.padding{
    padding: 1rem;
}
.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem; 
}
.card {
    height: 480px;
    margin: 10px;
}
#a {
    margin: 1rem;
}
.social a {
    font-size: 3em;
    padding: 3rem;
}
.fa-facebook, .fa-twitter, .fa-instagram, .fa-youtube {
    color: #b4b4b4;
}
.fa-facebook:hover {
    color: #4b5998;
}
.fa-twitter:hover {
    color: #00aced;
}
.fa-instagram:hover {
    color: #517fa4;
}
.fa-youtube:hover {
    color: #bb0000;
}
footer {
    background: #fc4a1a;
    color: #fff;
    padding-top: 2rem;

}
hr.light {
    border-top: 1px solid #fff;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

/* Toggler Navbar */
#wrapper {
    background: #fc4a1a;
    display: inline-block;
    border-radius: 300px;
    margin: 10px;
    position: relative;
    padding: 15px;
    cursor: pointer;          
}
.circle {
    width: 25px;
    height: 25px;
    position: relative;
}
.line {
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    transition: all cubic-bezier(0.26, 0.1, 0.28, 1.55) 0.35s;
}
.top {
    top: 16%;
}
.middle {
    top: 40%;
}
.bottom {
    top: 65%;
}
.icon.close .top {
    transform: rotate(45deg);
    top: 42%;
}
.icon.close .middle, .icon.close .bottom {
    transform: rotate(-45deg);
    top: 42%;
}

/* Scroll Top */
#tombolScrollTop {
	cursor: pointer;
	position:fixed;
	left:93%;
	bottom:40px;
    border:1px solid #fff;
	background:url('img/arrow.png') no-repeat center #fff;
	color:#fff;
	border-radius:100%;
	height:57px;
	width:57px;
	display:none;
}

/* Media Queries */
@media (max-width: 992px) {
    .social a {
        font-size: 3em;
        padding: 2rem;
    }
    #tombolScrollTop {
        left: 87%;
    }
}
@media (min-width: 992px) {
    #wrapper {
        display: none !important;
    }
}
@media (max-width: 768px) {
    .display-4 {
        font-size: 200%;
    }
    .card {
        height: auto;
        margin: 10px;
    }
    #tombolScrollTop {
        left: 87%;
    }
}
@media (max-width: 576px) {
    .social a {
        font-size: 2em;
        padding: 2rem;
    }
    #tombolScrollTop {
        left: 85%;
    }
}

/* Firefox Bug Fix */
.carousel-item {
    transition: -webkit-transform -.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}